body{
	width: 3000px;
	height: 3000px;
	background-image: url("../img/background.jpg");
	
}

.anfitrion{
	position: fixed;
	width: 200px;
	height: 200px;
	margin-left: 30vw;
	margin-top: 30vh;
}

.invitado{
	position: absolute;

}

#uno{
	width: 150px;
	height: 150px;
	left: 500px;
	top:  300px;
	z-index: -1;
}


#dos{
	width: 200px;
	height: 200px;
	left: 600px;
	top:  300px;
	z-index: 1;
}


#tres{
	width: 200px;
	height: 00px;
	left: 500px;
	top:  900px;
	z-index: -1;
}


#cuatro{
	width: 200px;
	height: 200px;
	left: 500px;
	top:  1900px;
	z-index: 1;
}


#cinco{
	width: 200px;
	height: 200px;
	left: 900px;
	top:  600px;
	z-index: -1;
}


#seis{
	width: 200px;
	height: 200px;
	left: 1100px;
	top:  900px;
	z-index: 1;
}


#siete{
	width: 200px;
	height: 200px;
	left: 500px;
	top:  2000px;
	z-index: -1;
}


#ocho{
	width: 200px;
	height: 200px;
	left: 1700px;
	top:  800px;
	z-index: 1;
}


#nueve{
	width: 200px;
	height: 200px;
	left: 2600px;
	top:  1900px;
	background-color: #ff0;
	z-index: 1;
}

#diez{
	width: 200px;
	height: 200px;
	left: 900px;
	top:  1300px;
	z-index: -1;
}


#once{
	width: 200px;
	height: 200px;
	left: 2600px;
	top:  2300px;
	z-index: 1;
}



#doce{
	width: 200px;
	height: 200px;
	left: 1500px;
	top:  2000px;	
	z-index: -1;
}